body {
  background-color: black;
  color: rgb(69, 62, 2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.main {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.tile:hover{
  background-color: rgb(249, 224, 0);
  opacity: 0.3;
  color: pink;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  height: 100vh;
}


.selected {
  background-color: rgb(249, 224, 0);
  color: black !important;
}

.button2 {
  border-color: rgb(69, 62, 2);;
  color: rgb(69, 62, 2);;
}

.button2-selected {
  border-color: gray !important;
   background-color: gray;
  color: black !important;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  cursor: pointer;
  height: 64px;
  width: 64px;
  margin: 2px;
}

h1 {
  color: rgb(249, 224, 0);
}

.faint {
    color: gray;
 }

.cent{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: right;
	align-items: center;
	align-content: stretch;
  width: 120px;
  text-align: right;
  padding-right: 24px;
}

.boxx {
  border: 2px solid rgb(249, 224, 0);
  padding: 16px;
}

button {
  border: 2px solid rgb(249, 224, 0);
  height: 64px;
  min-width: 100px;
  background-color: transparent;
  color: rgb(249, 224, 0);
  font-size: 24px;
  cursor: pointer;
  margin: 8px;
}

.buttonbig {
  border: 2px solid gray;
  height: 64px;
  width: 200px;
  color: rgb(69, 62, 2);
  font-size: 24px;
  cursor: pointer;
  margin: 8px;
}