body {
  background-color: black;
  color: rgb(69, 62, 2);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.main {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.tile:hover{
  background-color: rgb(249, 224, 0);
  opacity: 0.3;
  color: pink;
}

.selected {
  background-color: rgb(249, 224, 0);
}

.tile {
  /* border-radius: 50%; */
}

h1{
  color: white;
}

.cent{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.boxx {
  border: 2px solid rgb(249, 224, 0);
  padding: 16px;
  /* border-radius: 8px; */
}

button {
  /* border-radius: 8px; */
  border: 2px solid rgb(249, 224, 0);
  height: 64px;
  width: 100px;
  background-color: transparent;
  color: rgb(249, 224, 0);
  font-size: 24px;
}